.form {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--branco);
  border: 1px solid var(--grey-2);
  border-radius: 4px;
  gap: 20px;
  padding: 40px 10px;
}

.form input,
select {
  background-color: var(--grey-1);
  border: 2px solid var(--grey-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  gap: 10px;
  height: 50px;
  border-radius: 8px;
}

.description {
  text-align: start;
  width: 95%;
  font-size: 0.75rem;
}

.description input {
  margin-top: 10px;
  width: 90%;
}

.description input::placeholder {
  color: var(--grey-3);
  font-size: 1rem;
}

.example {
  width: 95%;
  text-align: start;
  font-size: 0.75rem;
  color: var(--grey-3);
  margin-top: -15px;
}

.entry {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.value {
  width: 30%;
  margin-right: 10px;
  text-align: start;
  position: relative;
  font-size: 0.75rem;
}

.value span {
  position: absolute;
  right: -20px;
  top: 45px;
}

.value input {
  margin-top: 10px;
  width: 100%;
  height: 48px;
}

.operation {
  text-align: start;
  font-size: 0.75rem;
  width: 50%;
}

.operation select {
  margin-top: 10px;
  width: 100%;
  height: 52px;
}

.operation .example {
  width: 95%;
  text-align: start;
  color: var(--grey-3);
}

.form button {
  width: 90%;
  padding: 13px;
  border-radius: 8px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--branco);
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}
